[submodule "bse_wrap/bse/COSMIC"]
	path = src/bse_wrap/bse/COSMIC
	url = https://github.com/COSMIC-PopSynth/COSMIC.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
